@import '~normalize.css';

header {
}

body {
  /* background-image: url(../assets/slide01.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: seashell; */
}

.row {
  cursor: pointer;
  border: 1px solid #d8d8d8;
  text-align: center;
  /* padding: 0 10px 10px; */
  margin-left: -15px;
  margin-right: -15px;
}

section.row,
header.row,
footer.row {
  margin: 0;
  background-image: url(../assets/img/bg_all.png);
}

.logo_line {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  background-image: url(../assets/img/bg_all.png);
}

/* a {
    text-decoration: none;
    display: inline-block;
} */

.logo {
  background-size: auto;
  /* background-repeat : no-repeat;  */
  background-position: left top;
  /* height: 80px; */
  width: 400px;
  text-align: center;
  font-size: 30px;
  padding-top: 5px;
  text-decoration: none;
  color: rgb(189, 28, 28);
  /* margin-right: 250px; 
    margin-left: 100px; */
  /* border : 10px solid blue; */
  /* border-image-width: 10px; */
}

.logo__text {
  font-size: medium;
  color: rgb(243, 151, 12);
}
.container {
  display: flex;
  justify-content: flex-start;
  /* padding-top: 20px; */
  position: relative;
  /* max-width: 1200px; */
}

.container a {
  text-align: center;
  margin: 10px 20px;
  color: white;
  font-size: 20px;
  /* background-color: darksalmon; */
  border-radius: 5px;
  text-decoration: none;
  padding-right: 10px;
}

.container__icon img {
  /* background-size: 25px 25px; */
  background-color: #fff;
  background-origin: content-box;
  width: 25px;
  height: 25px;
  /* padding-top: 10px; */
  margin-top: 10px;
  border-radius: 50%;
}

.container__icon {
  /* background-image: url(../assets/tel.png); */

  background-repeat: no-repeat;
  display: flex;
  /* padding-top: 20px; */
}

.container__icon a {
  margin-left: 10px;
  /* position: relative; */
}

.container__icon-time {
  color: #c42625;
  font-family: 'MontserratBold', Arial, sans-serif;
  font-weight: bold;
}

.header__top {
  background-color: #3d8eb9;
  margin: auto;
  display: flex;
  /* padding: 10px 15px 0px; */
  text-align: right;
  min-height: 50px;
}

.header__top a {
  padding: 0px 20px;
  text-align: center;
  font-size: 20px;
  position: relative;
  /* vertical-align: bottom; */
  /* justify-content: flex-end; */
}

.header__content {
  /* padding-top: 15px; */
  background-color: firebrick;
  /* margin: 0 auto; */
  /* display: inline; */
  text-align: center;
}

.header__content ul li {
  text-align: center;
}

.header__item {
  list-style: none;
  text-align: center;
}

.header__item li {
  display: inline;
  margin-right: 40px;
  background-color: darksalmon;
}

/* Стилизация блока menu */

.menu {
  /* background-color: cyan; */
  list-style: none;
  /* display: flex; */
  /* margin: 35px 30px; */
  /* width: 900px; */
  text-align: center;
  /* background-color: #999; */
  background-image: url(../assets/img/bg_all.png);
  background-repeat: repeat;
  padding: 10px 0px;
}

.menu li {
  /* text-decoration: none; */
  display: inline;
  /* float: left; */
  margin-right: 40px;
  /* background-color: darksalmon; */
}

.menu li a,
.header__top a {
  /* text-transform: uppercase; */
  /* list-style: none; */
  /* display: block; */
  border-radius: 5px;
  margin: 0;
  padding: 3px 5px;
  /* background: rgb(48, 47, 47); */
  font-size: 25px;
  color: white;
  position: relative;
  text-decoration: none;
}

.menu li a:hover,
.container a:hover {
  background: rgb(255, 250, 250);
  color: rgb(189, 28, 28);
}

nav {
  /* display: inline-flex; */
  margin: auto;
  /* text-align: center; */
}
/* 
h1 {
    text-align: center;
}
h2 {
    background-color: aqua;
} */

/* div {
    border : 10px solid transparent;
} */

.header__logo {
  background-color: darkgreen;
  justify-content: flex-start;
}
/* .logo {
    font-weight: 700;
    font-size: 350%;
    
} */
.content__block {
  border-top: 1px solid #d8d8d8;

  /* display: inline; */
}

.content__block img {
  /* background-image: url(../assets/slide01.jpg); */
  /* width: 500px; */
  padding-top: 100px;
  /* position: relative; */
  /* display: flex; */
  /* background-position: left center; */
  background-color: seashell;
  padding-left: 300px;
  float: left;
}

.content__block-text {
  position: relative;
  left: 80px;
}

.content__block-text p {
  font-size: 20px;
}

/* Стилизация блока footer */
footer {
  position: relative;
  width: 100%;
  height: auto;
  background: seashell;
  padding: 70px 0 30px 0;
  margin-top: 150px;
  text-align: center;
  border-top: 1px solid #000;
}
