@import "~normalize.css";

*{
    /* box-sizing: border-box; */
}

a {
    text-decoration: none;
    display: inline-block;
}
.menu {
    background-color: cyan;
    display: flex;
    margin: 35px 30px;
    width: 900px;
}

.menu li {
    text-decoration: none;
    margin-right: 40px;
    background-color: darksalmon;
    
}

ul {
    list-style-type: none;
}

.menu li a {
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: floralwhite;
}

.container {
    
    max-width: 900px;
    
    /* padding: 10px 15px; */
    display: flex;
    /* text-align: right; */
}

.container a {
    text-align: right;
    margin: 10px 20px;
   

}

.header__content {
    padding-top: 15px;
    background-color: firebrick;
}

/* body{

} */

.header__top{
    background-color: #3d8eb9;
    margin: auto;
    display: flex;
    padding: 10px 15px;
    text-align: right;
    min-height: 50px;
    
       
}

.header__top a{
    padding: 0px 25px;
    text-align: right;
    font-size: 20px;
    /* justify-content: flex-end; */
    
       
}

/* 
h1 {
    text-align: center;
}
h2 {
    background-color: aqua;
} */

/* div {
    border : 10px solid transparent;
} */

.header__logo {
    /* background-color: darkgreen; */
    /* justify-content: flex-start; */

}
/* .logo {
    font-weight: 700;
    font-size: 350%;
    
} */


.logo {
    /* background-image: url('../assets/logo.jpg'); */
    background-size: auto;
    /* background-repeat : no-repeat;  */
    background-position: left top;
    height: 80px;
    width: 400px;
    margin-right: 250px; 
    margin-left: 100px;
    /* border : 10px solid blue; */
    /* border-image-width: 10px; */
}