/*General*/
html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}
body {
	margin: 0;
}
.container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 156px;
}
.header {
	background-color: #4694DC;
	min-height: 500px;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}
.header_title {}
.header_text {}
.header_button {}

