#version: '3.8'
services:

  sts-client:   #фронтенд
    build: ../client
    ports:
      - '3002:80'
    networks:
      net:
#    depends_on:
#      - sts-db

  sts-db:   #база данных
#    image: postgres:14.1-alpine
    image: postgres
    restart: always
    environment:
      #Правильный вариант, при этих переменных идет подключение через DBeaver
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Vbkfhtgf131715
      POSTGRES_DB: STS
      POSTGRES_HOST: localhost
      POSTGRES_PORT: 5440
    ports:
      - '5440:5432'
    networks:
      net:
    volumes:
      - pgdata:/var/lib/postgresql/data

  sts-server:   #бэкенд
    build: .    # Указывает, где находится Dockerfile для этого сервиса
    restart: always
#    environment:
#      POSTGRES_USER: postgres
#      POSTGRES_PASSWORD: Vbkfhtgf131715
#      POSTGRES_DB: STS
#      POSTGRES_HOST: localhost
#      POSTGRES_PORT: 5432
    depends_on:
      - sts-db
    ports:
      - '3001:3001'
    networks:
      net:

    #volumes:
      #- server:/app

networks:
    net:
      driver: bridge

volumes:
    pgdata:
