@font-face {
    font-family: Oswald-Light;
    src: url("../style/font/Oswald,Pattaya/Oswald/static/Oswald-Light.ttf");
}

body {
    /*margin: 0 auto;*/
    /*background-image: url("img/fon5.jpg");*/
    color: #000000;
    font-weight: bolder;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    font-family: 'Oswald-Light', sans-serif;
    background-color: #f6f6f6;
    /*font-size: 1.55em;*/
    /*max-width: 1366px;*/
}

h1, h2, h3, h4, h5, a, p, div, span {
    text-align: center;
}

.main {
    width: 1240px;
    margin: 0 auto;
}

.table__users {
    /*display: flex;*/
    /*justify-content: center;*/
}

.header {
    /*border: 1px solid black;*/
    /*background-image: url("./img/serii-fon.jpg");*/
    background-size: cover;
    /*background-color:black;*/
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text-center {
    text-align: center;
    /*padding-right: 267px;*/
    display: inline-block;
}

.logo {
    float: left;
    padding-top: 30px;
    height: 50px;
    display: inline;
    width: 300px;
}

.company {
    /*display: inline-block;*/
    display: flex;
    justify-content: space-between;
    width: 300px;
    /*margin-right: 20px;*/
}

.company__link {
    /*display: flex;*/
    /*width: 200px;*/

}

.company__link a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
}

.nav-link {
    text-decoration: none;
    /*color: #666;*/
    color: #000000;
}

.nav-link:hover {
    text-decoration: none;
    color: red;
}

a.company__link:active, /* активная/посещенная ссылка */
a.company__link:hover, /* при наведении */
a.company__link {

}

.company__auth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
}

.table__header {
    background-color: #ff0000;
    width: 100%;
    /*border-collapse: collapse;*/
    /*display: flex;*/
    /*border-radius: 5px;*/
}

.table {
    width: 100%;

    border-collapse: collapse;
    border: 1px solid black;
    border-bottom: 0 solid black;
    /*border: none;*/
    font: 16px Roboto, Helvetica, Arial, sans-serif;
    /*overflow-wrap: break-word;*/
    box-sizing: border-box;
    text-align: center;
    color: #000000;

}

.table th {
    /*font: 16px Roboto, Helvetica, Arial, sans-serif;*/
    /*width: 100%;*/
    /*padding: 10px;*/
    /*border: 1px solid #555;*/
    /*font-weight: bold;*/
    /*text-align: left;*/
    /*display: flex;*/
    /*justify-content: space-around;*/

}

/*Отключаю на время переделки классов*/

/*thead {*/
/*    display: flex;*/
/*    border: 1px solid black;*/
/*    border-bottom: none;*/
/*    font:*/
/*            22px Roboto, Helvetica, Arial, sans-serif;*/
/**/
/*}*/

/*tr {*/
/*    display: inline-flex;*/
/*    align-items: stretch;*/
/*    vertical-align: text-bottom;*/

/*overflow-wrap: break-word;*/
/*align-content: center;*/
/*border-right: 1px solid black;*/
/*}*/

th {
    /*background-color: #d41414;*/
    display: table-cell;
    background-color: #ff0000;
    border-collapse: collapse;
    vertical-align: text-bottom;
    text-align: center;
    font: 18px;
    /*height: 40px;*/

    /*font-size: 16px;*/
    /*box-sizing: border-box;*/

}

/*//////////////////////////////////////*/
tr {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    height: 40px;
    align-items: center;

    /*padding: 5px 0 5px;*/
    /*vertical-align: middle;*/
    /*    text-align: center; !* Выравнивание по левому краю*!*/
    /*    !*flex-wrap: nowrap;*!*/

}

td {
    display: flex;
    /*align-items: center;*/
    /*text-overflow: ellipsis;*/
    justify-content: center;

    /*padding-top: 10px;*/
    /*height: 40px;*/
    /*border-collapse: collapse;*/

    /*vertical-align: middle;*/
    /*text-align: center;*/
    align-content: center;
    /*flex-wrap: wrap;*/
    /**/
    /*border: 1px solid black;*/
    /*border-bottom: none;*/
    /*box-sizing: border-box;*/
    /*border-collapse: collapse;*/
    /*padding: 2px 8px 0;*/
    /*text-align: center;*/
}


/*th {*/
/*    text-align: center; !* Выравнивание по левому краю *!*/
/*    background: #ccc; !* Цвет фона ячеек *!*/
/*    padding: 5px; !* Поля вокруг содержимого ячеек *!*/
/*    border: 1px solid black; !* Граница вокруг ячеек *!*/
/*}*/
/*td {*/
/*    width: 30%;*/
/*    padding: 5px; !* Поля вокруг содержимого ячеек *!*/
/*    border: 1px solid black; !* Граница вокруг ячеек *!*/
/*    text-align: center; !* Выравнивание по левому краю *!*/
/*}*/

.headTable {
    /*width: auto;*/
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*text-align: left; !* Выравнивание по левому краю*!*/
    /*flex-wrap: nowrap;*/

    /*border: 2px black solid;*/
    /*border-collapse: collapse;*/
    /*border-spacing: 1px;*/
}

tbody {
    /*width: 100%;*/
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*background-color: #cce;*/
    /*font-size: 18px;*/
    /*border-bottom: 2px solid #999;*/
}


.index {
    /*width: 85px;*/
    width: 3%;
    /*border-right: 1px solid black;*/

}

.id {
    /*width: 45px;*/
    width: 3%;
    display: table-cell;
    word-wrap: break-word;
    /*border-right: 1px solid black;*/

}

.fio {
    /*width: 180px;*/
    width: 20%;
    display: table-cell;
    word-wrap: break-word;

    /*border-right: 1px solid black;*/
}

.position {
    /*width: 320px;*/
    width: 30%;
    display: table-cell;
    word-wrap: break-word;
    /*border-right: 1px solid black;*/
}

.int_phone {
    /*width: 56px;*/
    width: 3%;
    display: table-cell;
    word-wrap: break-word;
    /*border-right: 1px solid black;*/
}

.mobile {
    /*width: 110px;*/
    width: 10%;
    display: table-cell;
    word-wrap: break-word;
    /*border-right: 1px solid black;*/
}

.email {
    /*width: 250px;*/
    width: 16%;
    display: table-cell;
    word-wrap: break-word;
    /*border-right: 1px solid black;*/
}

.skype {
    /*height: 20px;*/
    display: table-cell;
    word-wrap: break-word;
    /*width: 170px;*/
    width: 15%;
    /*text-overflow: ellipsis;*/
    /*    overflow-wrap: break-word;*/
    /*width: 100%;*/

    /*border-right: 1px solid black;*/

}

._row {
    display: flex;
    flex-wrap: wrap;
    /*margin-right: 15px;*/
    /*margin-left: -15px;*/
    justify-content: space-evenly;
    /*flex-direction: row;*/
    /*flex-basis: 0;*/
    /*flex-grow: 1;*/

    padding: 35px 0px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 8);
    /*position: fixed;*/
}

div._card {
    /*max-width: 100px;*/
    /*display: block;*/
}

._card {
    border: 2px solid rgba(0, 0, 0, .125);
    border-radius: 4px;
    display: inline-block;
    /*margin-right: 15px;*/
    /*width: 280px;*/
    /*height: 220px;*/
    max-width: 100px;
    overflow: hidden; /* Скрываем всё за контуром */

    transition: .5s; /* Время эффекта */
    display: block;
    /*border-color: black;*/
    /*filter: grayscale(1);*/
    /*transition: .5s;*/
}

._card.active {
    /*.active {*/
    /*    !*border: red;*!*/
    border: 3px solid red;
    /*    border-rdius: 4px;*/
    /*    display: inline-block;*/
    /*max-width: 100px;*/
    /*max-height: 78.56px;*/
    /*overflow: hidden; !* Скрываем всё за контуром *!*/
    /*transition: .5s; !* Время эффекта *!*/
    /*display: block;*/
}

._card:hover {
    /*filter: grayscale(0);*/
    transform: scale(1.3); /* Увеличиваем масштаб */
    /*box-shadow: 0 1px 2px rgba(255,0,0,8);*/
    /*border-color: red;*/
    border: 2px solid red;
}

._card img {
    /*width: 80px;*/
    /*height: 20px;*/
    border-radius: 4px;
    max-width: 100%;
    /*display: block;*/


}

._card a {
    color: #000000;
    /*max-width: 100%;*/
    /*display: block;*/
    /*vertical-align: middle;*/

}

.card__name {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100px;
    height: 40px;
}


/*Страница авторизации*/
.container {

    display: flex;
    justify-content: center;

}

.auth__form {
    width: 500px;
    height: 250px;
    padding: 20px;
    background-color: #FFF;
    border: 2px solid rgba(0, 0, 0, .125);
    border-radius: 10px;
}


/*Кнопки добавления, редактирования, удаления */
/*form {*/
/*    position: relative;*/
/*    width: 1240px;*/
/*    margin: 0 auto;*/
/*}*/


.admin__buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 70px;
    margin: auto;
    /*position: relative;*/
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 8);
}

.admin__buttons button {
    /*margin-top: 13px;*/
    width: 110px;
    height: 35px;
    /*float: right;*/
    border-radius: 5px;

    /*display: ;*/
    /*justify-content: flex-start;*/
}

/*Стилизация поисковой строки*/
.search {
    max-width: 1240px;
    display: flex;
    position: relative;
    /*position: static;*/
}


.search-input {
    border-radius: 10px;
    font: 18px Roboto, Helvetica, Arial, sans-serif;
    /*width: 1240px;*/
    width: 1240px;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    border: 2px solid #aaa;
}

.close {
    width: 50px;
    height: 50px;
    border: none;
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    /*box-sizing: border-box;*/
    /*border: 2px solid #aaa;*/
    /*padding: 15px 15px;*/
    /*background-size: 30%;*/
    /*background: #f6f6f6;*/
    cursor: pointer;
    color: red;
    background-color: rgba(28, 28, 28, 0);
}

.search button {
    /*padding-left: 71%;*/
    /*    float: left;*/
}

input:focus {
    outline: red;
    border-color: red;
    border: 3px solid red;
}

/*стили лоадера с сайта loading.io*/
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 50px;
}

.lds-dual-ring:after {
    content: ' ';
    display: block;
    /*width: 64px;*/
    width: 120px;
    /*height: 64px;*/
    height: 120px;
    /*margin-right: 38px;*/
    border-radius: 50%;
    border: 6px solid blue;
    border-color: #e21111 transparent #000000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*Стили для Лоадера Сибтранссервис*/
/*@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400);*/

/*html,*/
/*body {*/
/*    height: 100%;*/
/*}*/

/*body {*/
/*    background: -webkit-radial-gradient(#222922, #d8dfd8);*/
/*    background: radial-gradient(#222922, #e5ebe5);*/
/*    font-family: 'Source Code Pro', monospace;*/
/*    font-weight: 400;*/
/*    overflow: hidden;*/
/*    padding: 30px 0 0 30px;*/
/*    text-align: center;*/
/*}*/

/*.word {*/
/*    bottom: 0;*/
/*    color: #fff;*/
/*    font-size: 2.5em;*/
/*    height: 2.5em;*/
/*    left: 0;*/
/*    line-height: 2.5em;*/
/*    margin: auto;*/
/*    right: 0;*/
/*    position: absolute;*/
/*    text-shadow: 0 0 10px rgba(50, 255, 50, 0.5), 0 0 5px rgba(100, 255, 100, 0.5);*/
/*    top: 0;*/
/*}*/

/*.word span {*/
/*    display: inline-block;*/
/*    -webkit-transform: translateX(100%) scale(0.9);*/
/*    transform: translateX(100%) scale(0.9);*/
/*    -webkit-transition: -webkit-transform 500ms;*/
/*    transition: -webkit-transform 500ms;*/
/*    transition: transform 500ms;*/
/*    transition: transform 500ms, -webkit-transform 500ms;*/
/*}*/

/*.word .done {*/
/*    color: #6f6;*/
/*    -webkit-transform: translateX(0) scale(1);*/
/*    transform: translateX(0) scale(1);*/
/*}*/

/*.overlay {*/
/*    background-image: -webkit-linear-gradient(*/
/*            transparent 0%,*/
/*            rgba(10, 16, 10, 0.5) 50%*/
/*    );*/
/*    background-image: linear-gradient(transparent 0%, rgba(10, 16, 10, 0.5) 50%);*/
/*    background-size: 1000px 2px;*/
/*    bottom: 0;*/
/*    content: '';*/
/*    left: 0;*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 0;*/
/*}*/
