/*.css-1vjzapy {*/
/*    padding: 15px;*/
/*}*/

.bg-fon {
    background-color: rgba(246, 234, 234, 0.82);
}
.indicator {
    border-right-color: #9e0706;
}
.MuiButtonBase-root {
    padding: 12px 16px;
}
.css-ksnazs-MuiButtonBase-root-MuiTab-root {
    padding: 12px 16px;
}