@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  background: #f1f1f1;
  color: #0f141e;
}

.container {
  max-width: 800px;
  margin: auto;
  padding-top: 30px;
}

.avatar {
  width: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
}
.info {
  /* padding: 20px; */
}
.info h4 {
  margin-bottom: 10px;
}
.info-text {
  font-style: italic;
  font-weight: bold;
  color: #86898f;
}
.info-text p {
  margin: 0;
}
.card {
  border: 3px solid red;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 20px;
}
.card h2 {
  margin-bottom: 10px;
}

.bg-yellow {
  background: #fff9dc;
}
.bg-red {
  background: #ffe5e5;
}
.bg-green {
  background: #e5ffe7;
}
a {
  color: #86898f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: blue;
}
a:visited {
  color: green;
}

.btn {
  background: rgb(247, 111, 111);
  padding: 15px 20px;
  border-radius: 5px;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
  color: chartreuse;
}
.btn:active {
  color: green;
}
.list {
  padding: 0 20px;
}
.list li {
  color: #86898f;
  margin-bottom: 10px;
}
.table {
  width: 100%;
}
.table td {
  padding-bottom: 10px;
}
.table td:nth-child(2),
table td:nth-child(3) {
  color: #86898f;
}
