.list {
    width: 1200px;
    margin: 0 auto;
}
button {
    margin-bottom: 10px;
}

html, body{
    margin: 0;
    padding:0;
}
table {
    /*display: flex;*/
    /*width: 100%;*/
    border: 1px solid black;
    border-collapse: collapse;
    display: flex;

    /*text-align: center;*/
}
tr {
    /*width: auto;*/
    display: flex;
    /*justify-content: space-between;*/
    text-align: center; /* Выравнивание по левому краю*/
    /*flex-wrap: nowrap;*/

}
th {
    text-align: center; /* Выравнивание по левому краю */
    background: #ccc; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
}
td {
    width: 30%;
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
    text-align: center; /* Выравнивание по левому краю */
}
.headTable {
    /*width: auto;*/
    display: flex;
    /*justify-content: space-between;*/
    text-align: center; /* Выравнивание по левому краю*/
    /*flex-wrap: nowrap;*/

    /*border: 2px black solid;*/
    /*border-collapse: collapse;*/
    /*border-spacing: 1px;*/
}
.bodyTable {
    /*display: flex;*/
    /*border: 2px black solid;*/
    /*border-collapse: collapse;*/
    /*border-spacing: 0px;*/
}
div p {

    width: 800px;
}
.wrapper{
    width:100%;
    text-align:center;
    margin:0 auto;
}

/* DivTable.com */
.divTable{
    display: table;
    width: 100%;
}
.divTableRow {
    display: table-row;
}
.divTableCell, .divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}
.divTableFooting {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}


/*стили лоадера с сайта loading.io*/
.lds-dual-ring {
    display: inline-block;
    width: 130px;
    height: 130px;
}
.lds-dual-ring:after {
    content: ' ';
    display: block;
    /*width: 64px;*/
    width: 150px;
    /*height: 64px;*/
    height: 150px;
    margin: 18px;
    border-radius: 50%;
    border: 6px solid blue;
    border-color: blue transparent blue transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*form label {*/
/*    display: flex;*/
/*}*/