/* Стилизация главного контейнера */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Стилизация кнопок влево вправо на картинке */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Изменение цвета стрелок вправо влево на картинке */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Стилизация слова Text внизу на картинке */
.text {
  color: #f2f2f2;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* margin: auto; */
}
/* Стилизация точек под картинкой */
.dot {
  cursor: pointer;
  width: 13px;
  height: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* изменение цвета активной точки под картинкой */
.active,
.dot:hover {
  background-color: #717171;
}
/* эффект анимации при переключении картинок */
.fade {
  -webkit-animation-name: fade; /* для поддержки ранних версий браузеров */
  -webkit-animation-duration: 1.5s; /* для поддержки ранних версий браузеров */
  animation-name: fade; /* задаём имя анимации (соответствует имени назначенному в ключевых кадрах)  */
  animation-duration: 1.5s; /* задаём продолжительность анимации */
}
@-webkit-keyframes fade {
  /* для поддержки ранних версий браузеров */
  from {
    opacity: 0.4;
  } /*начало цикла*/
  to {
    opacity: 1;
  } /* конец цикла*/
}
@keyframes fade {
  /* для поддержки ранних версий браузеров */
  from {
    opacity: 0.4;
  } /*// начало цикла*/
  to {
    opacity: 1;
  } /* конец цикла*/
}
